<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale=1.0,user-scalable = no">
    <title>Helpee</title>
    <%- stylesheetTag('app.css') -%>
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<header>
    <div class="content-header">
    <a href='/'><div class="header-image"></div></a>
    </div>
</header>
<div class="container">
    <% if(locals.flash) { %>
    <div class="alert alert-<%= flash.type %>">
        <% if (typeof flash.message === "object") {%>
        <ul>
            <% flash.message.forEach((message) => {%>
                <li><%= message.msg %></li>
            <% }) %>
        </ul>
        <% } else { %>
            <%= flash.message %>
        <% }%>
    </div>
    <% } %>

    <div class="navbar-container">
        <%- include('navbar'); -%>
    </div>
