<%- include('../layouts/header') -%>
<form action="/community/save" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <div class="row">
        <div class="col s12">
            <label for="name">Name* :</label>
            <input type="text" maxlength="75" autofocus required id="name" name="name">
        </div>
    </div>

    <div class="input-field col s12">
        <select id="departments" name="departments" size="1">
            <option disabled selected>Séléctionnez un département...</option>
            <% departments.forEach((department) => { %>
                <option value="<%= department.code %>"><%= department.code %> - <%= department.name %></option>
            <% }); %>
        </select>
        <label for="departments" class="active">Département</label>
    </div>

        <div class="col s8">
            <label for="city">City* :</label>
            <input type="text" maxlength="100" required id="city" name="city">
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <label for="description">Description* :</label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </div>
    </div>
    <button type="submit">Create new</button>
</form>
<%- include('../layouts/js_imports') -%>
<%- include('../layouts/footer') -%>
