<%- include('layouts/header'); -%>
<%- stylesheetTag('homepage.css') -%>
<%- include('layouts/menuburger'); -%>

<div class="container">
    <div class="btn-container">
        <a class="btn btn-fit btn-propose" href="/ad/new">je propose</a>
        <a class="btn btn-fit btn-search active">je recherche</a>
    </div>

    <form action="">
        <div class="input-field col s12">
            <select id="categories" name="category" size="1">
                <option disabled selected>Sélectionnez une catégorie</option>
                <% categories.forEach((category) => { %>
                    <% if (category.slug != 'autres') { %>
                        <option disabled>[<%= category.label %>]</option>
                        <% if(category.categories.length > 0) { %>
                            <% category.categories.forEach(category => { %>
                                <option value="<%= category.slug %>"><%= category.label %></option>
                            <% }); %>
                        <% } %>
                    <% } else { %>
                        <option value="<%= category.slug %>"><%= category.label %></option>
                    <% } %>
                <% }); %>
            </select>
            <label for="categories" class="active">Catégories</label>
        </div>

        <div class="input-field col s12">
            <input type="text" id="keywords" name="name" />
            <label for="keywords" class="active">Mot(s)-clé(s)</label>
        </div>

        <div class="input-field col s12">
            <input type="text" name="city" id="city">
            <label for="city" class="active">Ville</label>
        </div>

        <div class="btn-container">
            <button type="submit" class="btn btn-fit btn-search active" href="/ad/search">Rechercher</button>
        </div>
    </form>
</div>

<div class="container">
    <div><h3>Helpee en quelques chiffres</h3></div>
    <div class="count-container">
        <div class="count-container-group">
            <i class="count-icon icon-communities"></i>
            <p class="common-count purple-text"><%= (communityCount > 0 ? communityCount : 0) %></p>
            <p class="common-count text purple-text">Communautés</p>
        </div>
        <div class="count-container-group">
            <i class="count-icon icon-money"></i>
            <p class="common-count yellow-text">2 576 257</p>
            <p class="common-count text yellow-text">UEV dépensés</p>
        </div>
        <div class="count-container-group">
            <i class="count-icon icon-users"></i>
            <p class="common-count amaranth-text"><%= userCount %></p>
            <p class="common-count text amaranth-text">Membres</p>
        </div>
    </div>
</div>

<div class="container">
    <h3>Comment ça marche ?</h3>
    <div class="carousel-wrapper">
        <span id="item-1"></span>
        <span id="item-2"></span>
        <span id="item-3"></span>
        <div class="carousel-item item-1">
            <h2>1. Créez votre compte</h2>
            <p></p>
            <a class="arrow arrow-prev" href="#item-3"></a>
            <a class="arrow arrow-next" href="#item-2"></a>
        </div>

        <div class="carousel-item item-2">
            <h2>2. Rejoignez des communautés proches de vous</h2>
            <a class="arrow arrow-prev" href="#item-1"></a>
            <a class="arrow arrow-next" href="#item-3"></a>
        </div>

        <div class="carousel-item item-3">
            <h2>3. Proposez ou bénéficiez des services</h2>
            <a class="arrow arrow-prev" href="#item-2"></a>
            <a class="arrow arrow-next" href="#item-1"></a>
        </div>
    </div>
</div>
<%- include('layouts/js_imports') -%>
<%- include('layouts/footer') -%>
