<%- include('../layouts/header') -%>
<%- include('../layouts/menuburger') -%>

<div class="container">
    <h2 class="title">Modification du mot de passe</h2>
    <form action="/user/edit-password" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="input-field col s12">
            <input type="password" id="password" name="password" />
            <label for="password" class="active">Mot de passe actuel</label>
        </div>

        <div class="input-field col s12">
            <input type="password" id="new-password" name="newPassword" />
            <label for="new-password" class="active">Nouveau mot de passe</label>
        </div>

        <div class="input-field col s12">
            <input type="password" id="new-password-confirmation" name="newPasswordConfirmation" />
            <label for="new-password-confirmation" class="active">Confirmation du nouveau mot de passe</label>
        </div>

        <div class="btn-container">
            <button type="submit" class="btn btn-fit btn-submit active">Modifier</button>
        </div>
    </form>

</div>

<%- include('../layouts/js_imports') -%>
<%- include('../layouts/footer') -%>
