<%- include('../layouts/header') -%>
<%- include('../layouts/menuburger') -%>
<%- stylesheetTag('profile.css') -%>

<div class="container">
    <h2 class="title">Espace personnel</h2>
    <div id="profile-image">
        <% if (user.imageName !== 'none') { %>
            <img src="/uploads/avatars/<%= user.imageName %>" width="84" height="84" alt="Votre image de profil" />
        <% } else { %>
            <img src="/uploads/default/img-profile.png" width="84" height="84" alt="Votre image de profil temporaire" />
        <% } %>
    </div>

    <% userMemberCommunities.forEach((community) => { %>
        <%= community.name %>
        <%= community.location.name %>
        <%= community.user.firstname %>

        <!--
        Liste des variables disponibles :
        Les exemples ci-dessus permettent d'obtenir l'une des informations présentes ci-dessous :

        _id
        name
        slug
        description
        location {
            name
            zip_code
        }
        user {
            firstname
            lastname
        }
        -->
    <% }); %>

    <% otherCommunities.forEach((community) => { %>
        <!--
            Les variables disponibles sont les mêmes que dans la boucle précédente
          -->
    <% }); %>

    <form action="/user/delete-account" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn btn-fit btn-submit active" type="submit">
            Delete account
        </button>
    </form>
</div>


<%- include('../layouts/js_imports') -%>
<%- include('../layouts/footer') -%>
