<%- include('../layouts/header') -%>
<%- include('../layouts/menuburger') -%>
<%- stylesheetTag('profile.css') -%>

<div class="container container-profile">
    <div class="button">
        <button class="btn btn-fit btn-submit active" type="submit">
            Editer
        </button>
    </div> 
    <div id="profile-image">
        <% if (user.imageName !== 'none') { %>
            <img src="/uploads/avatars/<%= user.imageName %>" width="84" height="84" alt="Votre image de profil" />
        <% } else { %>
            <img src="/uploads/default/img-profile.png" width="84" height="84" alt="Votre image de profil temporaire" />
        <% } %>
    </div>
    <div class="display-name">
        <h2><%= user.firstname %> <%= user.lastname %></h2>
        <h3><%= user.email %></h3>
    </div>
    <div class="container-flex">
        <div class="display-address">
            <p><span class="bold"> Adresse :</span> <%= user.informations.address %></p>
            <p><span class="bold"> Code postal :</span> <%= user.informations.zip_code %></p>
            <p><span class="bold"> Ville :</span> <%= user.informations.city %></p>
            <p><span class="bold"> Numero de téléphone :</span> <%= user.informations.phone %></p>
        </div>
    </div>
    <div class="div-after"></div>
    <div class="button">
        <button class="btn-circle" type="submit">
          <a href="edit-description"><i class="icon-edit"></i></a>
        </button>
    </div> 
    <div class="display-description">
        <p><%= user.informations.description %></p>
    </div>

    <% userMemberCommunities.forEach((community) => { %>
        <%= community.name %>
        <%= community.location.name %>
        <%= community.user.firstname %>

        <!--
        Liste des variables disponibles :
        Les exemples ci-dessus permettent d'obtenir l'une des informations présentes ci-dessous :

        _id
        name
        slug
        description
        location {
            name
            zip_code
        }
        user {
            firstname
            lastname
        }
        -->
    <% }); %>

    <% otherCommunities.forEach((community) => { %>
        <!--
            Les variables disponibles sont les mêmes que dans la boucle précédente
          -->
    <% }); %>

    <form action="/user/delete-account" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn btn-fit btn-submit active" type="submit">
            Delete account
        </button>
    </form>
</div>


<%- include('../layouts/js_imports') -%>
<%- include('../layouts/footer') -%>
