<%- include('../../../layouts/header') -%>
<form action="/admin/ads/category/save/<%= category._id %>" method="POST">
<input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <%- include('./partials/form') %>
    <button type="submit">update</button>
</form>
<%- include('../../../layouts/js_imports') -%>
<%- javascriptTag('admin/ads/categories.js') -%>
<%- include('../../../layouts/footer') -%>
