<%- include('../../../layouts/header') -%>
<form action="/admin/ads/category/save" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <%- include('./partials/form') -%>
    <button type="submit">create</button>
</form>
<%- include('../../../layouts/js_imports') -%>
<%- include('../../../layouts/footer') -%>
