<%- include('../layouts/header'); -%>
<%- stylesheetTag('new_ad.css'); -%>
<%- include('../layouts/menuburger'); -%>

<div class="container">
    <div class="new-ad-container">
        <div class="button-container">
            <a id="button-prop" class="button-fit propose-button inactive_propose" href="/ad/new">je propose</a>
            <a id="button-rech" class="button-fit search-button inactive_recherche" href="/">je recherche</a>
        </div>
        <form method="POST" action="/ad/new">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div class="input-container">
                <div class="text-container">
                    <div class="container-input">
                        <label for="title"></label>
                        <input
                                type="text"
                                id="title"
                                autofocus
                                class="hompepage-input__text"
                                name="title"
                                placeholder="Titre"
                        />
                    </div>
                </div>
            </div>

            <div class="select-container">
                <label for="categories"></label>
                <select class="select-button" id="categories" name="category" size="1">
                    <option disabled selected>Catégories</option>
                    <% categories.forEach((category) => { %>
                        <option value="<%= category.slug %>"><%= category.label %></option>
                    <% }); %>
                </select>
            </div>

            <div class="select-container">
                <label for="departments"></label>
                <select class="select-button" id="departments" name="departments" size="1">
                    <option disabled selected>Départements</option>
                    <% departments.forEach((department) => { %>
                        <option value="<%= department.code %>"><%= department.code %> - <%= department.name %></option>
                    <% }); %>
                </select>
            </div>

            <div class="select-container">
                <label for="cities"></label>
                <select class="select-button" disabled id="cities" name="city" size="1">
                    <option disabled selected>Villes</option>
                </select>
            </div>

            <div class="text-container">
                <div class="container-input">
                    <label for="description"></label>
                    <textarea id="description" name="description" rows="2" cols="20"
                              placeholder="Écrivez votre description..."></textarea>
                </div>
            </div>

            <div class="photo-container">
                <a href="#">
                    <div class="photo-bloc">
                        <div class="icon-camera"></div>
                    </div>
                </a>

                <a href="#">
                    <div class="photo-bloc">
                        <div class="icon-camera"></div>
                    </div>
                </a>

                <a href="#">
                    <div class="photo-bloc">
                        <div class="icon-camera"></div>
                    </div>
                </a>
            </div>

            <div class="container-prix">
                <div class="text-prix">
                    <p class="text-ech">Valeur d'échange</p>
                    <label for="uev"></label>
                    <input type="text" id="uev" class="box-prix" name="uev" placeholder="UEV">
                </div>
            </div>

            <div class="input-container">
                <div class="text-container">
                    <div class="container-input">
                        <input type="text" name="name" placeholder="Champ spécifique 1">
                    </div>
                </div>
            </div>

            <div class="input-container">
                <div class="text-container">
                    <div class="container-input">
                        <input type="text" name="name" placeholder="Champ spécifique 2">
                    </div>
                </div>
            </div>

            <div class="input-container">
                <div class="text-container">
                    <div class="container-input">
                        <input type="text" name="name" placeholder="Champ spécifique 3">
                    </div>
                </div>
            </div>

            <div class="button-container no-padding">
                <button type="submit" class="button-fit publish-button">Publier</button>
            </div>
        </form>
    </div>
</div>

<%- include('../layouts/js_imports'); %>
<%- javascriptTag('new_ad.js') -%>
<%- include('../layouts/footer'); -%>
