<%- include('../../layouts/header'); -%>
<%- stylesheetTag('register.css') -%>
<%- include('../../layouts/menuburger'); -%>


<div class="container">
    <h2 class="title">Créer un compte</h2>
    <form action="/auth/register" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="input-field col s12">
            <input type="text" autofocus required id="firstname" name="firstname">
            <label for="firstname" class="active">Prénom*</label>
        </div>

        <div class="input-field col s12">
            <input type="text" required id="lastname" name="lastname">
            <label for="lastname" class="active">Nom*</label>
        </div>

        <div class="input-field col s12">
            <input type="email" required id="email" name="email">
            <label for="email" class="active">E-mail*</label>
        </div>

        <div class="input-field col s12">
            <input type="password" minlength="8" required id="password" name="password">
            <label for="password" class="active">Mot de passe*</label>
            <i class="mdi mdi-eye-off" id="password-visibility" data-visibility="off"></i>
            <small>(8 caractères min.)</small>
        </div>

        <div class="input-field col s12">
            <input type="password" required id="password-confirmation" name="passwordConfirmation">
            <label for="password-confirmation" class="active">Confirmation de mot de passe*</label>
        </div>

        <div class="input-field col s12">
            <input type="text" id="address" name="address">
            <label for="address" class="active">Adresse*</label>
        </div>

        <div class="input-field col s12">
            <input type="text" id="address-1" name="address1">
            <label for="address-1" class="active">Adresse</label>
        </div>

        <div class="input-field col s12">
            <input type="text" id="zip-code" minlength="5" name="zipCode">
            <label for="zip-code" class="active">Code postal*</label>
        </div>

        <div class="input-field col s12">
            <input type="text" id="city" name="city">
            <label for="city" class="active">Ville*</label>
        </div>

        <div class="input-field col s12">
            <input type="tel" maxlength="10" minlength="10" id="phone" name="phone">
            <label for="phone" class="active">N° de téléphone</label>
        </div>

        <div class="btn-container">
            <button class="btn btn-fit btn-submit active" type="submit">S'inscrire</button>
        </div>
    </form>

</div>
<%- include('../../layouts/js_imports'); -%>
<%- javascriptTag('register.js') -%>
<%- include('../../layouts/footer'); -%>
