<%- include('../../layouts/header'); -%>
<%- stylesheetTag('register.css') -%>
<%- include('../../layouts/menuburger'); -%>


<div class="firstblock_register">
    <h2 class="title">Créer un compte</h2>
<form action="/auth/register" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <div class="row">
        <div class="col s12">
            <label for="firstname">Prénom* :</label>
            <input type="text" autofocus required id="firstname" name="firstname">
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <label for="lastname">Nom* :</label>
            <input type="text" required id="lastname" name="lastname">
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <label for="email">E-mail* :</label>
            <input type="email" required id="email" name="email">
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <label for="password">Mot de passe* :</label>
            <input type="password" minlength="8" required id="password" name="password">
            (8 caractères min.)
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <label for="password-confirmation">Confirmation de mot de passe* :</label>
            <input type="password" required id="password-confirmation" name="passwordConfirmation">
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <label for="address">Adresse* :</label>
            <input type="text" id="address" name="address">
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <label for="address-1">Adresse :</label>
            <input type="text" id="address-1" name="address1">
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <label for="zip-code">Code postal* :</label>
            <input type="text" id="zip-code" minlength="5" name="zipCode">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <label for="city">Ville* :</label>
            <input type="text" id="city" name="city">
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <label for="phone">N° de téléphone :</label>
            <input type="tel" maxlength="10" minlength="10" id="phone" name="phone">
        </div>
    </div>

    <div class="button-container">
        <div>
            <button class="button-submit" type="submit">S'inscrire</button>
        </div>
    </div>
</form>

</div>
<%- include('../../layouts/footer'); -%>
